{% extends "unetlab/base.html" %}
{% block title %}UNetLab | Jobs > List{% endblock %}
{% block page_title %}Jobs > List{% endblock %}
{% block page_body %}
    <div class="row row-cards">
        <div class="col-lg-9">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Owner</th>
                                <th>Status</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in job_list %}
                                <tr>
                                    <td>{{ job.id }}</td>
                                    <td>{{ job.user }}</td>
                                    <td>{{ job.status }}</td>
                                    <td>{{ job.created_at }}</td>
                                    <td>{{ job.updated_at }}</td>
                                    <td>
                                        <div class="btn-list flex-nowrap">
                                            <a href="{% url 'job_detail' job.id %}" class="btn btn-1"> View </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "unetlab/partials/pagination.html" %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <form method="get" class="card">
                    <div class="card-header">
                        <h4 class="card-title">Filters</h4>
                    </div>
                    <div class="card-body">
                        {{ filter.form.as_p }}
                    </div>
                    <div class="card-footer text-end">
                        <div class="d-flex">
                            <a href="{% url 'job_list' %}" class="btn btn-link">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-auto">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
