{% extends "unetlab/base.html" %}
{% block title %}UNetLab | Jobs > List{% endblock %}
{% block page_title %}Jobs > ID:{{ job.id }}{% endblock %}
{% block page_body %}
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Job Details</h3>
            </div>
            <div class="card-body">
                <div class="datagrid">
                    <div class="datagrid-item">
                    <div class="datagrid-title">ID</div>
                    <div class="datagrid-content">{{ job.id }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Owner</div>
                    <div class="datagrid-content">{{ job.user }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Status</div>
                    <div class="datagrid-content">{{ job.status }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Created at</div>
                    <div class="datagrid-content">{{ job.created_at }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Updated at</div>
                    <div class="datagrid-content">{{ job.updated_at }}</div>
                </div>
            </div>
            <div class="text-end">
                <a href="{% url 'job_list' %}" class="btn btn-primary mt-3">Back to Jobs List</a>
            </div>
        </div>
    </div>
{% endblock %}
