@font-face {
	font-family: 'Ubuntu Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-B.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-BI.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Condensed';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-C.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Light';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-L.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Light Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-LI.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Medium';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-M.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-MI.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-R.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Regular Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Ubuntu-L.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Mono Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/UbuntuMono-B.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Mono Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/UbuntuMono-BI.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Mono Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Mono Regular Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/UbuntuMono-RI.ttf') format('truetype');
}
