* {
	
}

body, html {
	/*height: 100%;*/
	overflow: auto;
	position: relative;
	width: 100%;
}

body.no-height{
	height : auto;
}

blockquote {
	background-image: url("/assets/images/diagonal.gif");
	border: 1px solid #d6d7d7;
	border-left: 5px solid #46a6b6;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	padding: 10px;
	margin: 10px 20px 10px 20px;
}

code, pre {
	font-family: 'Courier New', Courier, monospace;
}

p code {
	background-color: transparent;
	color: #46a6b6;
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

pre {
	margin: 10px;
	overflow: auto;
	border: 1px solid #46a6b6;
	border-left: 5px solid #46a6b6;
	padding: 5px;
}

h1 {
	color: #46a6b6;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
}

h2 {
	background-color: #46a6b6;
	color: #ffffff;
	display: inline-block;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	margin: 5px auto 0px auto;
	padding: 2px 10px 2px 4px;
	text-transform: uppercase;
}

h3 {
	background-color: #58585a;
	color: #ffffff;
	display: inline-block;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin: 15px auto 10px auto;
	padding: 2px 10px 2px 4px;
	text-transform: uppercase;
}

h4 {
	border-bottom: 1px solid #46a6b6;
	color: #46a6b6;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin: 10px auto 10px auto;
}

h5 {
	border-bottom: 1px solid #58585a;
	color: #58585a;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	margin: 10px auto 10px auto;
}

h6 {
	color: #58585a;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 10px auto 10px auto;
}

ul {
	list-style-type: square;
	margin: 10px 20px 10px 20px;
}

ol {
	margin: 10px 20px 10px 20px;
}

li {
	margin: 5px auto 5px auto;
}

p {
	margin: 10px auto 10px auto;
	padding: 0px 50px 0px 50px;
	max-width: 500px;
}

table {
	border: 1px solid #3ba9ba;
	margin: 0px;
	padding: 0px;

}

thead {
	background: #3ba9ba;
	border: 0px;
}

thead tr {
	border: 0px;
}

thead th {
	border: 0px;
	color: #ffffff;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	padding-bottom: 2px;
	padding-top: 2px;
	text-transform: uppercase;
	white-space: nowrap;
}

tbody {
	background-color: #ffffff;
	border: 0px;
}

tbody tr {
	border: 1px solid #3ba9ba;
}

tbody td {
	border: 0px;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

tbody td .glyphicon {
	border: 0px;
	color: #8b8c90;
}

tbody td .glyphicon-trash {
	margin-left: 30px;
}


#navbar-top #logo-main {
	background-color: #3ba9ba;
}



#jumbotron, #jumbotron > div {
	background-color: #ffffff;
	height: 500px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
}

#jumbotron-left {
	background-color: #58585a;
	height: 500px;
	margin: 0px;
	padding: 0px;
}

#jumbotron .title-first {
	margin-top: 50px;
}

#jumbotron .title-first, #jumbotron .title {
	color: #ffffff;
	font-family: 'Ubuntu Light', Helvetica, Arial, sans-serif;
	font-size: 3.5em;
	margin-right: 25px;
	text-align: right;
}

#jumbotron .title-page {
	background-color: #ffffff;
	color: #58585a;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: -15px;	/* TODO: does not work even with z-index */
	margin-top: 15px;
	padding: 8px 40px 8px 0px;
	text-align: right;
	text-transform: uppercase;
}

#jumbotron-right {
	background-color: #46a6b6;
	height: 450px;
	margin: 50px 0px 0px 0px;
	padding: 0px;
}

#main, #main > div, #main .row {
	margin: 0px;
	padding: 0px;
}
#main{
	height: calc(100vh - 122px);

}

#main-modal{
	height: 100%;
}

body.folders #main{
	height: auto;
}

#body.folders #main.container{
	height:auto;
}
#main .home-page{
	height:100%;
}

#main-top-left {
	border-bottom: 1px dotted #8b8c90;
	border-right: 1px dotted #8b8c90;
	height: 50px;
}

#main-top-left img {
	bottom: -13px;
	position: absolute;
	right: -13px;
}

#main-top-right {
	border-bottom: 1px dotted #8b8c90;
	height: 50px;
}

#main-left {
	border-right: 1px dotted #8b8c90;
}

#main-right {
}

#toc {
	background-image: url("/assets/images/diagonal.gif");
    margin: 30px 30px 15px 50px;
    padding: 0px;
}

#toc ul {
    list-style: none;
	margin: 0px;
	padding: 15px 15px 15px 15px;
}

#toc li {
    margin: 0px;
    padding: 0px;
}

#toc a, #toc a:link, #toc a:visited {
	color: #000000;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 0.5em;
	margin: 0px;
	padding: 3px;
	text-align: center;
}

#toc a:active, #toc a:hover {
	color: #3ba9ba;
	border-bottom: 5px solid #3ba9ba;
	text-decoration: none;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-h4 {
    padding-left: 30px;
}

#toc .toc-h5 {
    padding-left: 40px;
}

#toc .toc-h6 {
    padding-left: 50px;
}

#toc .toc-active {
	color: red;
}

.fill-height {
	/*height: 100% !important;*/
	min-height: 100% !important;
}

.modal-header, .modal-footer {
	border: 0px;
}

.modal-body {
	color: #58585a;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
}

.modal-body h4 {
	color: #46a6b6;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
}

.modal-body .error {
	color: #46a6b6;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
}

.modal-body .error.valid {
	display: none !important;
}

.modal-title {
	border-bottom: 2px solid #46a6b6;
	color: #46a6b6;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
}

.modal-header .glyphicon{
    margin-right: 10px;
    margin-top: 2px;
}
.modal-header .glyphicon:hover{
	cursor: pointer;
}

.modal .btn-aqua {
	/* http://charliepark.org/bootstrap_buttons/ */
	-webkit-font-smoothing: antialiased;
	background-color: hsl(189, 44%, 34%) !important;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#7abfcb), to(#30717c));
	background-image: -moz-linear-gradient(top, #7abfcb, #30717c);
	background-image: -ms-linear-gradient(top, #7abfcb, #30717c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abfcb), color-stop(100%, #30717c));
	background-image: -webkit-linear-gradient(top, #7abfcb, #30717c);
	background-image: -o-linear-gradient(top, #7abfcb, #30717c);
	background-image: linear-gradient(#7abfcb, #30717c);
	border-color: #30717c #30717c hsl(189, 44%, 26.5%);
	border-radius: 20px;
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7abfcb", endColorstr="#30717c");
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 2.5vmin; /* TODO maybe em */
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
	text-transform: uppercase;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
