a:hover {
    text-decoration: none;
}
body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}
.inline {
    display: inline;
}
.navbar {
    z-index: 5400;
}
.progress-label {
    float: left;
    margin-right: 1em;
}

#msg_frame {
    width: 25%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: auto;
    top: auto;
}

.table-object td {
    vertical-align: middle;
}

label.error {
    color: #d9534f;
    font-weight: bold;
    margin-left: 10px;
}

.thumbnails {
    padding: 10px 10px 10px 10px;
}

.thumbnails > li {
    display: inline-block;
    float: none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: helvetica;
    font-size: 1.2em;
}
