*::-webkit-scrollbar {
	width: 10px;
	background-color: #8b8c90;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3ba9ba;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #8b8c90;
}

#alert_container {
	bottom: 0px;
	left: auto;
	position: fixed;
	right: 1%;
	top: auto;
	width: 30%;
}

#context-menu {
	display: block !important;
	position: absolute;
	z-index: 5200;
	aoverflow-x: hidden;
	aoverflow-y: auto;
}

#context-menu code {
	background-color: transparent;
	color: #3ba9ba;
}

#context-menu > ul {
	display: block;
	position: static;
	margin-bottom: 5px;
	overflow-y: auto;
}

#context-menu .dropdown-header {
	color: #3ba9ba;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

#lab-sidebar {
	background-color: #3ba9ba;
	bottom: 0px;
	padding-top: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
}

#lab-sidebar ul {
	line-height: 2em;
	list-style-type: none;
	margin-left: -32px;
	margin-right: -15px;
	margin-top: 0px;
}

#lab-sidebar a i, #lab-sidebar a:link i, #lab-sidebar a:visited i {
	color: #ffffff;
	font-size: 1.2em;
}

#lab-sidebar a:active i, #lab-sidebar a:hover i {
	color: red;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
}

#lab-viewport {
	bottom: 0px;
	position: absolute;
	left: 30px;
	overflow: auto;
	right: 0px;
	top: 0px;
	white-space: nowrap;
}

#lab-viewport .network, #lab-viewport .node {
	position: absolute;
}

#lab-viewport .network, #lab-viewport .node {
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

#lab-viewport .node_interface {
	background-color: #9fd3db;
	border: 2px solid #46a6b6;
	border-radius: 8px;
    font-family: helvetica;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
}

#list-title-folders {
	color: #ffffff;
	background-color: #58585a;
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list-title-folders span {
	color: #ffffff;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding-left: 10px;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

#list-folders {
	background-color: #e2edef;
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
	padding-bottom: 35px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list-folders ul {
	line-height: 3em;
	list-style-type: none;
	margin-left: -30px;
	margin-right: -15px;
	margin-top: 35px;
}

#list-title-labs {
	background-color: #46a6b6;
	color: #ffffff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list-title-labs span {
	color: #ffffff;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding-left: 15px;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

#list-labs {
	background-color: #babbbd;
	margin-left: 15px;
	margin-right: -15px;
	overflow: hidden;
	padding-bottom: 35px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list-labs ul {
	line-height: 3em;
	list-style-type: none;
	margin-top: 35px;
	margin-left: -55px;
	margin-right: -15px;
	padding-left: 25px;
}

#list-title-info {
	color: #ffffff;
	background-color: #46a6b6;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list-title-info span {
	color: #ffffff;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding-left: 15px;
}

#list-info {
	padding: 15px 30px 35px 30px;
	margin-right: -20px;	/* previous column get a 20px margin */
	padding-bottom: 35px;
	padding-right: 30px;	/* reduce available space of 20px */
	padding-top: 45px;
}

#list-info  h1 {
	color: #8b8c90;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

#list-info  h2 {
	background-color: transparent;
	color: #8b8c90;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 5px 0px 5px 0px;
	padding: 0px;
	text-transform: none;
}

#list-info p {
	margin: 5px 0px 10px 0px;
	padding: 0px;
}

#mouse_frame {
	position: absolute;
	
}

#main.row {
	margin: 0px;
	padding: 0px;
}

#pods, #users  {
	margin: 0px 0px 15px 0px;
	padding: 0px;
}

#pods table, #users  table {
	margin: 0px;
	padding: 0px;

}

#pods thead, #users thead {
	background: #3ba9ba;
}

#pods thead tr, #users thead tr {
	border: 0px;
}

#pods thead th, #users thead th {
	border: 0px;
	color: #ffffff;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	padding-bottom: 2px;
	padding-top: 2px;
	text-transform: uppercase;
	white-space: nowrap;
}

#pods tbody, #users tbody {
	background-color: #babbbd;
}

#pods tbody tr, #users tbody tr {
	border: 1px solid #ffffff;
}

#pods tbody td, #users tbody td {
	border: 0px;
	color: #ffffff;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

#stats-text {
	background-color: #e2edef;
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
	padding-bottom: 35px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#stats-text ul {
	line-height: 3em;
	list-style-type: none;
	margin-left: -30px;
	margin-right: -15px;
	margin-top: 35px;
}

#stats-text li {
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	text-align: left;
}

#stats-text code {
	background-color: transparent;
	color: #46a6b6;
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

#stats-graph {
	overflow: hidden;
	padding-bottom: 35px;
	padding-right: -50px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#stats-graph ul {
	line-height: 3em;
	list-style-type: none;
	margin-left: -30px;
	margin-right: -15px;
	margin-top: 35px;
}

#stats-graph li {
	margin-left: -30px;
}

#stats-graph  .circle {
	margin-top: 20px;
	text-align: center;
}

#stats-graph  .circle span {
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 1.8vw;
	text-align: center;
}

#stats-graph .circle strong {
	font-size: 30px;
	left: 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 30px;
	width: 100%;
}

#stats-graph .count {
	margin-top: 70px;
	text-align: center;
}

#stats-graph  .count span {
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 1.8vw;
	text-align: center;
}

#stats-graph  .count strong {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}

.full-height {
	height: 100%;
}

.menuhide {
	display: none;
}

.modal-body h1 {
	color: #3ba9ba;
	background-color: transparent;
	border: 0px;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.modal-body h2 {
	color: #3ba9ba;
	background-color: transparent;
	border: 0px;
	border-bottom: 3px solid #3ba9ba;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
}

.modal-body h3 {
	color: #8b8c90;
	background-color: transparent;
	border: 0px;
	border-bottom: 2px solid #8b8c90;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	text-align: left;
	text-transform: none;
	width: 100%;
}

.modal-body h4 {
	color: #8b8c90;
	background-color: transparent;
	border: 0px;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	text-align: left;
	text-transform: none;
	width: 100%;
}

.modal-body h5 {
	color: #8b8c90;
	background-color: transparent;
	border: 0px;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	text-align: left;
	text-transform: none;
	width: 100%;
}

.modal-body h6 {
	color: #8b8c90;
	background-color: transparent;
	border: 0px;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
	text-transform: none;
	width: 100%;
}

.modal-body p {
	color: #8b8c90;
	background-color: transparent;
	border: 0px;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	text-transform: none;
	width: 100%;
}

.modal-body  table {
	margin: 10px;
	padding: 0px;
	width: 98%;
}

.modal-body thead th {
	border: 0px;
	color: #ffffff;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	padding: 2px;
	text-transform: uppercase;
	white-space: nowrap;
}

.modal-body tbody td {
	border: 0px;
	padding: 2px;
	font-size: 0.8em;
}

.modal-body > ul > li {
	margin-left: -40px;
}

.modal-body  .config-list  {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.modal-body  .config-list  ul {
	line-height: 3em;
	list-style-type: none;
	margin-left: 0px;
}

.modal-body  .config-list li {
	margin-left: -30px;
}

.modal-body  .config-list a, .modal-body  .config-list a:link, .modal-body  .config-list a:visited {
	color: #8b8c90;
}

.modal-body  .config-list a:active, .modal-body  .config-list a:hover {
	text-decoration: none;
}

.modal-title {
	border-bottom: 2px solid #46a6b6;
	color: #46a6b6;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 2.8vmin;
	text-transform: uppercase;
}

.modal.modal-wide .modal-dialog {
	width: 90%;
}

.selectpicker-button {
	width: 100%;
}


































/* TODO */

img, input[type='image'] {
	display: block;
	height: auto;
	max-width: 100%;
}

input[name='login[username]'], input[name='login[password]']{
	background-color: #96c5cf;
	border: 0px;
	color: #58585a;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 1.8vmin;
	height: 5vmin;
	text-align: center;
	width: 100%;
}

#small {
	background-color: #46a6b6;
	height: 100%;
	width: 100%;
}

#small .jumbotron {
	background-color: #ffffff;
	box-shadow: 0 0 30px black;
}

#small h1 {
	color: #46a6b6;
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 8vmin;
}

#small p {
	color: #58585a;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 4vmin;
}

#body {
	height: 100%;
	padding: 0;
	width: 100%;
}

#auth-left {
	background: url('/themes/default/images/shade-home.png') #46a6b6 100% repeat-y;
	background-size: 3% 100%;
	color: #ffffff;
	display: table;
	font-family: 'Ubuntu Light', Helvetica, Arial, sans-serif;
	font-size: 2.8vmin;
	table-layout: fixed;
}

#auth-left  .white{
	color: #ffffff;
}

#auth-left .row {
	margin: 15px 0px 15px 0px;
	margin: 2vmin 0px 2vmin 0px;
}

#auth-right {
	background-color: #ffffff;
	height: 100%;
}

#auth-right #logo-angular {
	bottom: 0px;
	max-height: 90%;
	position: absolute;
	right: 0px;
	width: 90%;
}

#auth-right #logo-ad {
	bottom: 10%;
	position: absolute;
	right: 3%;
	max-width: 25%;
	max-width: 30vmin;
}

#auth-right #logo-text {
	bottom: 16%;
	bottom: 15vmin;
	position: absolute;
	right: 24%;
	right: 20vmin;
	width: 58%;
}

#auth-right #logo-text h1 {
	color: #46a6b6;
	font-family: 'Ubuntu Light', Helvetica, Arial, sans-serif;
	font-size: 3.5vmin;
	line-height: 200%;
}

#auth-right #logo-text p {
	color: #58585a;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-size: 1.8vmin;
	line-height: 180%;
}




.btn-aqua {
	/* http://charliepark.org/bootstrap_buttons/ */
	-webkit-font-smoothing: antialiased;
	background-color: hsl(189, 44%, 34%) !important;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#7abfcb), to(#30717c));
	background-image: -moz-linear-gradient(top, #7abfcb, #30717c);
	background-image: -ms-linear-gradient(top, #7abfcb, #30717c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abfcb), color-stop(100%, #30717c));
	background-image: -webkit-linear-gradient(top, #7abfcb, #30717c);
	background-image: -o-linear-gradient(top, #7abfcb, #30717c);
	background-image: linear-gradient(#7abfcb, #30717c);
	border-color: #30717c #30717c hsl(189, 44%, 26.5%);
	border-radius: 20px;
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7abfcb", endColorstr="#30717c");
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 2.5vmin;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
	text-transform: uppercase;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn-grey {
	-webkit-font-smoothing: antialiased;
	background-color: hsl(240, 0%, 20%) !important;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#7f7f7f), to(#333333));
	background-image: -moz-linear-gradient(top, #7f7f7f, #333333);
	background-image: -ms-linear-gradient(top, #7f7f7f, #333333);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f7f7f), color-stop(100%, #333333));
	background-image: -webkit-linear-gradient(top, #7f7f7f, #333333);
	background-image: -o-linear-gradient(top, #7f7f7f, #333333);
	background-image: linear-gradient(#7f7f7f, #333333);
	border-color: #333333 #333333 hsl(240, 0%, 12.5%);
	border-radius: 20px;
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7f7f", endColorstr="#333333");
	font-family: 'Ubuntu Bold', Helvetica, Arial, sans-serif;
	font-size: 2.5vmin;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
	text-transform: uppercase;
}

.folder, .folder:visited {
	border-bottom: 1px dotted #46a6b6;
	color: #58585a;
	float: left;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding-left: 5px;
	text-decoration: none;
	width: 100%;
}

.folder:active, .folder:hover, .folder.ui-draggable-dragging {
	border-bottom: 1px solid #46a6b6;
	color: #46a6b6;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
}

.folder.ui-draggable-dragging {
	line-height: 3em;
	width: 23%;
}

.lab, .lab:visited {
	border-bottom: 1px dotted #ffffff;
	color: #ffffff;
	float: left;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding-left: 30px;	/* must reflect #list-labs ul margin-left attribute */
	text-decoration: none;
	width: 100%;
}

.lab:active, .lab:hover, .lab-opened, .lab-opened:visited, .lab-opened:active, .lab-opened:hover, .lab.ui-draggable-dragging {
	background-color: #ffffff;
	border-bottom: 1px dotted #ffffff;
	color: #46a6b6;
	font-family: 'Ubuntu Regular', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
}

.lab.ui-draggable-dragging {
	line-height: 3em;
	width: 25%;
}



.selected, .selected:visited, .selected:active, .selected:hover {
	background: rgba(60, 153, 171, 0.75);
	text-decoration: underline;
}

.selected:hover {
	color: red;
}



.middle {
	/* parent must use: "display: table; table-layout: fixed;" */
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}




