[flake8]
# Ignore E501: Line too long (82 > 79 characters)
# Ignore W503: Line break occurred before a binary operator
# Ignore C901: Function is too complex
ignore = E501, W503, C901

# Exclude common virtual environment folders and Django migration files
exclude =
    .venv,
    venv,
    env,
    */migrations/*,
    __pycache__,
    .git,
    .tox,
    .eggs,
    *.egg-info

max-complexity = 10
max-line-length = 120
