[flake8]
# Ignore line length (E501) since Black handles formatting
# Ignore W503 (line break before binary operator) to be compatible with Black's style
ignore = E501, W503

# Exclude common virtual environment folders and Django migration files
exclude =
    .venv,
    venv,
    env,
    */migrations/*,
    __pycache__,
    .git,
    .tox,
    .eggs,
    *.egg-info

max-complexity = 10
max-line-length = 120
