extends: default
ignore: |
  .tox
  changelogs/*
rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    min-spaces-from-content: 2
  line-length: disable
  document-start: disable
