celery==5.5.3
channels==4.2.2
channels_redis==4.2.1
daphne==4.2.0
Django==5.2.3
django-constance==4.3.2
django-filter==25.1
django-redis==6.0.0
djangorestframework==3.16.0
proxmoxer==2.2.0
requests==2.32.4

#PyYAML==6.0.2
#shortuuid==1.0.13
#jsonschema==4.23.0
#django-redis==5.4.0
