{% extends "ui/base.html" %}
{% load i18n static %}
{% block title %}UNetLab | {{ object.name }} > Detail{% endblock title %}
{% block bodyclass %}d-flex flex-column vh-100{% endblock bodyclass %}
{% block pageclass %}flex-grow-1{% endblock pageclass %}
{% block page %}
<div id="topology" class="h-100"></div>
<script src="{% static 'cytoscape/js/cytoscape.min.js' %}"></script>
<script>
    const elements = {{ elements| safe }};
    const cy = cytoscape({
        container: document.getElementById('topology'),
        elements: elements,
        style: [

            {
                selector: 'node',
                style: {
                    'label': 'data(label)',
                    'color': '#444000',
                    'text-valign': 'bottom',
                    'text-halign': 'center',
                    'background-image': 'data(image_url)',
                    //'background-clip': 'none',
                    //'background-fit': 'cover',
                    //'background-color': 'transparent',
                    'background-opacity': 0,
                    'font-size': 10,
                    'font-family': 'Arial, Helvetica, sans-serif',
                    'shape': 'rectangle',
                    'width': 50,
                    'height': 50,
                    'padding': 0,
                }
            },
            {
                selector: 'edge',
                style: {
                    // Connector
                    'width': 1,
                    'line-color': '#444000',
                    'target-arrow-shape': 'none',
                    'curve-style': 'bezier',
                    'z-compound-depth': 'top',
                    // Source/Target labels
                    'font-size': 6,
                    'font-family': 'Courier New, monospace',
                    'text-background-color': '#ffffff',
                    'text-background-opacity': 0.7,
                    'text-background-shape': 'round-rectangle',
                    // Source/Target label background
                    'text-background-color': '#ffffff',
                    'text-background-opacity': 0.7,
                    'text-background-shape': 'roundrectangle',
                    'text-background-padding': 1,
                    'text-border-color': '#444000',
                    'text-border-width': 0,
                    'text-border-opacity': 1,
                    'text-border-style': 'solid',
                    // Source label
                    'source-label': 'data(source_label)',
                    'source-text-offset': 10,
                }
            },
            {
                selector: 'edge[targetLabel]',
                style: {
                    // Target label
                    'target-label': 'data(target_label)',
                    'target-text-offset': 10,
                }
            },
        ],
        layout: {
            name: 'cose',
        }
    });
    cy.on('tap', 'node', function (evt) {
        const node = evt.target;
        console.log('Hai cliccato sul nodo:', node.id());
        // alert('Hai cliccato sul nodo: ' + node.data('label'));
    });
    cy.on('tap', 'edge', function (evt) {
        const edge = evt.target;
        console.log('Hai cliccato sull\'edge:', edge.id());
        // alert('Hai cliccato sull\'edge: ' + edge.data('source') + ' → ' + edge.data('target'));
    });
</script>
{% endblock page %}
