{% extends "ui/base.html" %}
{% block title %}UNetLab | {{ object.name }} > Detail{% endblock title %}
{% block page_title %}{{ object.name }} > Detail{% endblock page_title %}
{% block page_body %}
<div class="col-lg-12">
    <div class="card card-lg">
        <div class="card-body markdown">
            <div class="row align-items-center">
                <div class="col"></div>
                <div class="col-auto">
                    <a href="{% url model_name|add:'_delete' pk %}" class="btn">Delete</a>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn" onclick="LabRebuildView({{ pk }})">
                        Rebuild
                    </button>
                </div>
                <div class="col-auto">
                    <a href="{% url model_name|add:'_update' pk %}" class="btn">Edit</a>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" onclick="LabStartView({{ pk }})">
                        Start
                    </button>
                </div>
            </div>

            <h1>Lab {{ object.name }}</h1>
            <ul>
                <li>User: {{ object.user }}</li>
                <li>Shared group: {{ object.shared_group }}</li>
                <li>Created at: {{ object.created_at }}</li>
                <li>Updated at: {{ object.updated_at }}</li>
            </ul>

            <h2>High Level Design:</h2>
            <pre><code class="language-scss">{{ hld_yaml }}</code></pre>


            <h2>Groups</h2>
            <div class="table-responsive">
                <table class="table table-vcenter table-selectable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Members</th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody">
                        {% for row in object.lld.groups %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.members }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h2>Nodes</h2>
            <div class="table-responsive">
                <table class="table table-vcenter table-selectable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Template</th>
                            <th>Features</th>
                            <th>CPU</th>
                            <th>RAM</th>
                            <th>NICs</th>
                            <th>Interfaces</th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody">
                        {% for row in object.lld.nodes %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.template }}</td>
                            <td>{{ row.features }}</td>
                            <td>{{ row.cpu }}</td>
                            <td>{{ row.ram }}</td>
                            <td>{{ row.nics }}</td>
                            <td>{{ row.interfaces }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h2>Networks</h2>
            <div class="table-responsive">
                <table class="table table-vcenter table-selectable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody">
                        {% for row in object.lld.links %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock page_body %}
