<div class="nav-item dropdown d-none d-md-flex">
    <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1"
        aria-label="Show notifications" data-bs-auto-close="outside" aria-expanded="false">
        <!-- Download SVG icon from http://tabler.io/icons/icon/bell -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-1">
            <path
                d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6">
            </path>
            <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
        </svg>
        {% if latest_logs %}
            <span class="badge bg-red"></span>
        {% endif %}
    </a>
    {% if latest_logs %}
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
                <div class="card-header d-flex">
                    <h3 class="card-title">Notifications</h3>
                    <div class="btn-close ms-auto" data-bs-dismiss="dropdown"></div>
                </div>
                <div class="list-group list-group-flush list-group-hoverable">
                    {% for latest_log in latest_logs %}
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto"><span
                                    class="status-dot status-dot-animated d-block{% if latest_log.get_severity_display == 'Error' %} bg-red{% elif latest_log.get_severity_display == 'Warning'%} bg-yellow{% endif %}"></span>
                                </div>
                                <div class="col text-truncate">
                                    <a href="#" class="text-body d-block">{{ latest_log.get_severity_display }}</a>
                                    <div class="d-block text-secondary text-truncate mt-n1">{{ latest_log.message }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn btn-2 w-100"> Mark all as read </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>