{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}" data-bs-theme="light">

<head>
    <link rel="author" href="https://www.adainese.it" />
    <link rel="icon" href="{% static 'ui/favicon.ico' %}" type="image/x-icon" sizes="16x16" />
    <title>{% block title %}{{ site_meta.title }}{% endblock title %}</title>
    <meta charSet="utf-8" />
    <meta name="author" content="{% for author in site_meta.authors %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
    <meta name="description" content="{{ site_meta.description }}">
    <meta name="keywords" content="{% for tag in site_meta.keywords %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    <meta name="Content-Security-Policy"
        content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';base-uri 'self';form-action 'self'" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- CSS files -->
    <link href="{% static 'tabler/css/tabler.min.css' %}" rel="stylesheet" />
    <link href="{% static 'ui/css/ui.css' %}" rel="stylesheet" />
</head>

<body class="{% block bodyclass %}{% endblock bodyclass %}">
    <!-- URL VIEW: {{ request.resolver_match.view_name }} -->
    <!-- Banner -->
    {% block banner %}
    {% endblock banner %}
    <!-- Navbar -->
    {% block navbar %}
    {% include "ui/partials/navbar.html" %}
    {% endblock navbar %}
    <div class="{% block pageclass %}page{% endblock pageclass %}">
        {% block page %}
        <div class="page-wrapper">
            <!-- Body -->
            {% block body %}
            {% block page_header %}
            <div class="page-header d-print-none" aria-label="Page header">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">{% block page_title %}{% endblock page_title %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock page_header %}
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-cards">
                        {% block page_body %}{% endblock page_body %}
                    </div>
                </div>
            </div>
            {% endblock body %}
            <!-- Messages -->
            {% block messages %}
            {% include "ui/partials/messages.html" %}
            {% endblock messages %}
            <!-- Footer -->
            {% block footer %}
            {% include "ui/partials/footer.html" %}
            {% endblock footer %}
        </div>
        {% endblock page %}
    </div>
    <!-- Modal -->
    {% block modal %}
    {% endblock modal %}
    <!-- JavaScript files -->
    <script src="{% static 'tabler/js/tabler.min.js' %}" defer></script>
    <script type="module" src="{% static 'eg0n/js/main.js' %}" defer></script>
    <script src="{% static 'alpinejs/js/alpinejs.min.js' %}" defer></script>
    <script src="{% static 'ui/js/ui.js' %}" defer></script>
</body>

</html>
