{% extends "ui/base.html" %}
{% load django_tables2 %}
{% block title %}eg0n | Home{% endblock title %}
{% block body %}
<div class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">Overview</div>
                <h2 class="page-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-sm-12 col-lg-12">
            </div>
            <div class="col-sm-12 col-lg-12">
            </div>
        </div>
    </div>
</div>
{% endblock body %}
