{% extends "ui/base.html" %}
{% load i18n static %}
{% block title %}UNetLab | {{ object.name|title }} > Detail{% endblock title %}
{% block page_title %}{{ object.name|title }} > Detail{% endblock page_title %}
{% block page_body %}
<div class="col-lg-12" data-pk="{{ pk }}">
    <div class="card">
        <form method="post" novalidate>
            <div class="card-table">
                {% if attrs.title %}
                <div class="card-header">
                    <div class="row w-full">
                        <div class="col">
                            <h3 class="card-title mb-0">{{ attrs.title }}</h3>
                            <p class="text-secondary m-0">{{ attrs.description }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="card-body">
                    {% csrf_token %}
                    {% if form.errors and form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for field in form %}
                    <div class="mb-3 row">
                        <label for="{{ field.id_for_label }}" class="col-3 col-form-label text-uppercase{% if field.field.required %} required{% endif %}">
                            {{ field.label }}
                        </label>
                        <div class="col">
                            {{ field }}
                            {% if field.errors %}
                            <div class="invalid-feedback">
                                {{ field.help_text }} ({% for error in field.errors %}{{ error }}{% endfor %})
                            </div>
                            {% elif field.help_text %}
                            <small id="id_{{ field.name }}_helptext" class="form-hint">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="card-footer">
                    <div class="text-end">
                        {% if request.GET.back %}
                        <a href="{% url request.GET.back %}" class="btn"> {% translate "Cancel" %} </a>
                        {% endif %}
                        <button type="submit" class="btn btn-primary ms-auto"> {% if object %}{% translate "Update" %}{% else %}{% translate "Create" %}{% endif %} </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock page_body %}
