{% extends "ui/base.html" %}
{% load render_table from django_tables2 %}
{% block title %}UNetLab | {{ table.attrs.title }} > List{% endblock title %}
{% block page_title %}{{ table.attrs.title }} > List{% endblock page_title %}
{% block page_body %}
<div class="col-lg-12">
    <div class="card">
        <form method="post" novalidate>
            <div class="card-table">
                {% if attrs.title %}
                <div class="card-header">
                    <div class="row w-full">
                        <div class="col">
                            <h3 class="card-title mb-0">{{ attrs.title }}</h3>
                            <p class="text-secondary m-0">{{ attrs.description }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="card-body">
                    {% csrf_token %}
                    {% if object %}
                    <p>Are you sure you want to delete <strong>{{ object }}</strong>?</p>
                    {% elif object_list %}
                    <input type="hidden" name="confirm" value="1">
                    <p>Are you sure you want to delete the following objects?</p>

                    <ul>
                        {% for obj in object_list %}
                        <li>
                            <input type="hidden" name="selected_ids" value="{{ obj.id }}">
                            {{ obj }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="card-footer">
                    <div class="d-flex">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock page_body %}
