{% extends "ui/base.html" %}
{% load i18n static %}
{% block title %}{{ site_meta.title }} | Settings{% endblock title %}
{% block page_title %}Settings{% endblock page_title %}
{% block page_body %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-table">
            {% if attrs.title %}
            <div class="card-header">
                <div class="row w-full">
                    <div class="col">
                        <h3 class="card-title mb-0">{{ attrs.title }}</h3>
                        <p class="text-secondary m-0">{{ attrs.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card-body">
                {% for key, value in variables.items %}
                <div class="mb-3 row">
                    <label for="{{ key }}" class="col-3 col-form-label">
                        {{ key }}
                    </label>
                    <div class="col">
                        {{ value }}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="card-footer">
                <div class="text-end">
                    <a href="{% url 'settings_update' %}" class="btn btn-primary"> {% translate "Edit" %} </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_body %}
