{% if messages %}
<div class="alert-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    {% if message.level == 40 %}
    <div class="alert alert-danger alert-dismissible" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                <path d="M12 8v4"></path>
                <path d="M12 16h.01"></path>
            </svg>
        </div>
        {{ message }}
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>
    {% endif %}
    {% if message.level == 30 %}
    <div class="alert alert-warning alert-dismissible" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
                <path d="M12 9v4"></path>
                <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
                <path d="M12 16h.01"></path>
            </svg>
        </div>
        {{ message }}
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>
    {% endif %}
    {% if message.level == 25 %}
    <div class="alert alert-success alert-dismissible" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
                <path d="M5 12l5 5l10 -10"></path>
            </svg>
        </div>
        {{ message }}
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>
    {% endif %}
    {% if message.level == 20 %}
    <div class="alert alert-info alert-dismissible" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon alert-icon icon-2">
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                <path d="M12 9h.01"></path>
                <path d="M11 12h1v4h1"></path>
            </svg>
        </div>
        {{ message }}
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>
    {% endif %}
    {% endfor %}
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Fadeout alerts after 5 seconds
    const alertEl = document.querySelector(".alert-container .alert");
    if (!alertEl) return;
        // Wait 5 seconds
        setTimeout(() => {
            alertEl.style.transition = "opacity 0.6s ease";
            alertEl.style.opacity = "0";

            // opzionale: rimuovere l'elemento dalla pagina dopo la fade
            setTimeout(() => {
                alertEl.remove();
            }, 600);

        }, 5000);
});
</script>
{% endif %}
