<div class="alert-container position-fixed bottom-0 end-0 p-3" x-data>
    <template x-for="(alert, index) in $store.message.alerts" :key="alert.id">
        <div class="alert alert-dismissible fade show mb-2" :class="$store.utils.severityToClass(alert.severity)" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="alert-icon" x-html="$store.utils.severityToIcon(alert.severity)"></div>
            <span x-text="alert.message"></span>
            <a class="btn-close" @click="$store.message.deleteItem(alert.id)" aria-label="close"></a>
        </div>
    </template>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Fadeout alerts after 5 seconds
    const alertEl = document.querySelector(".alert-container .alert");
    if (!alertEl) return;
        // Wait 5 seconds
        setTimeout(() => {
            alertEl.style.transition = "opacity 0.6s ease";
            alertEl.style.opacity = "0";

            // opzionale: rimuovere l'elemento dalla pagina dopo la fade
            setTimeout(() => {
                alertEl.remove();
            }, 600);

        }, 5000);
});
</script>
