Package: unetlab-addons-vyos
Version: 1.1.6-1
Name: Unified Networking Lab - VyOS
Architecture: amd64
Maintainer: Andrea Dainese <andrea.dainese@gmail.com>
Homepage: http://www.unetlab.com/
Installed-Size: 80420
Section: devel
Priority: optional
Description: VyOS image for UNetLab.
