<div class="full-height">
	<div class='clear'>
	<div class="col-md-4 col-md-offset-4" id="auth-left">

        <div id="logo-text">
            <h1>Unified Networking Lab</h1>
            <p>UNetLab can be considered the next major version of iou-web, but the software has been rewritten from scratch. The major advantage over GNS3 and iou-web itself is about multi-hypervisor support within a single entity. UNetLab allows to design labs using IOU, Dynamips and QEMU nodes without dealing with multi virtual machines: everything run in- side a UNetLab host, and a lab is a single file including all information needed. Develop by Andrea Dainese, Unetlab Team and others, see License for details.</p>
        </div>

        <div class="middle">
            <div class="row">
                <img class="response" alt="Logo RR" src="/themes/default/images/logo-rr.png" />
            </div>
            <!-- <div class="row"><div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"><img class="response" alt="Signup Icon" src="/themes/default/images/button-signup.png"></div></div><div class="row"><div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">to access more features</div></div> -->
            <div>
                <h2>Existing user...</h2>
            </div>

            <form id="form-login">
                <div class="row">
                    <input name="login[username]" placeholder="USERNAME" type="text" class="form-control"/>
                </div>
                <div class="row">
                    <input name="login[password]" placeholder="PASSWORD" type="password" class="form-control"/>
                </div>
                <div class="row">
                    <input alt="Login Icon" src="/themes/default/images/button-login.png" type="image" />
                </div>
            </form>
        </div>
    	</div>
	</div>
	
</div>