{% extends "unetlab/base.html" %}
{% load i18n static %}
{% block title %}UNetLab | Hosts > List{% endblock title %}
{% block page_title %}Hosts > List{% endblock page_title %}
{% block page_body %}
<div class="col-lg-9">
    <div class="card">
        <div class="card-table">
            <div class="card-header">
                <div class="row w-full">
                    <div class="col">
                        <h3 class="card-title mb-0">Hosts list</h3>
                        <p class="text-secondary m-0">Table description.</p>
                    </div>
                    <div class="col-md-auto col-sm-12">
                        <div class="ms-auto d-flex flex-wrap btn-list">
                            <div class="input-group input-group-flat w-auto">
                                <span class="input-group-text">
                                    <!-- Download SVG icon from http://tabler.io/icons/icon/search -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="icon icon-1">
                                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                        <path d="M21 21l-6 -6"></path>
                                    </svg>
                                </span>
                                <input id="advanced-table-search" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-text">
                                    <kbd>ctrl + K</kbd>
                                </span>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="btn" data-bs-toggle="dropdown">
                                    <!-- Download SVG icon from http://tabler.io/icons/icon/dots -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="icon icon-1 d-block">
                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                    </svg>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Third action</a>
                                </div>
                            </div>
                            <form id="rescan-form" method="post" action="{% url 'host-rescan' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" onclick="rescanHost()">{% translate "Rescan" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advanced-table">
                <div class="table-responsive">
                    <table class="table table-vcenter table-selectable">
                        <thead>
                            <tr>
                                <th class="w-1"></th>
                                <th>
                                    <button class="table-sort d-flex justify-content-between"
                                        data-sort="sort-id">{{ host_fields.id }}</button>
                                </th>
                                <th>
                                    <button class="table-sort d-flex justify-content-between"
                                        data-sort="sort-name">{{ host_fields.name }}</button>
                                </th>
                                <th>
                                    <button class="table-sort d-flex justify-content-between"
                                        data-sort="sort-ip_address">{{ host_fields.ip_address }}</button>
                                </th>
                                <th>
                                    <button class="table-sort d-flex justify-content-between"
                                        data-sort="sort-is_online">{{ host_fields.is_online }}</button>
                                </th>
                                <th>
                                    <button class="table-sort d-flex justify-content-between"
                                        data-sort="sort-is_orphan">{{ host_fields.is_orphan }}</button>
                                </th>
                                <th>
                                    <button class="table-sort d-flex justify-content-between"
                                        data-sort="sort-id">{{ host_fields.created_at }}</button>
                                </th>
                                <th>
                                    <button class="table-sort d-flex justify-content-between"
                                        data-sort="sort-id">{{ host_fields.updated_at }}</button>
                                </th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                    {% for host in proxmoxhost_list %}
                        <tr>
                            <td>
                                <input class="form-check-input m-0 align-middle table-selectable-check"
                                    type="checkbox" aria-label="Select invoice" value="true">
                            </td>
                            <td class="sort-id">{{ host.id }}</td>
                            <td class="sort-name">{{ host.name }}</td>
                            <td class="sort-ip_address">{{ host.ip_address }}</td>
                            <td class="sort-is_online">
                                {% if host.is_online %}
                                <span class="text-green">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="icon icon-tabler icons-tabler-filled icon-tabler-square-check">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-2.626 7.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" />
                                    </svg>
                                </span>
                                {% endif %}
                            </td>
                            <td class="sort-is_orphan">
                                {% if host.is_orphan %}
                                <span class="text-green">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="icon icon-tabler icons-tabler-filled icon-tabler-square-check">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-2.626 7.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" />
                                    </svg>
                                </span>
                                {% endif %}
                            </td>
                            <td class="sort-created_at">{{ host.created_at | date:"Y-m-d" }}</td>
                            <td class="sort-updated_at">{{ host.updated_at | date:"Y-m-d H:m" }}</td>
                            <td>
                                <div class="btn-list flex-nowrap">
                                    <a href="% url 'proxmoxhost_detail' host.id %" class="btn btn-1"> View </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "unetlab/partials/pagination.html" %}
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card">
        <form method="get" class="card">
            <div class="card-header">
                <h3 class="card-title">Filters</h3>
            </div>
            <div class="card-body">
                <div class="space-y">
                    <div>
                        <label for="{{ filter.form.status.id_for_label }}" class="form-label">
                            {{ filter.form.status.label }}
                        </label>
                        {{ filter.form.status }}
                    </div>
                    <div>
                        <label for="{{ filter.form.username.id_for_label }}" class="form-label">
                            {{ filter.form.username.label }}
                        </label>
                        {{ filter.form.username }}
                    </div>
                    <div>
                        <label for="{{ filter.form.created_at.id_for_label }}" class="form-label">
                            {{ filter.form.created_at.label }}
                        </label>
                        {{ filter.form.created_at }}
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <div class="d-flex">
                    <a href="{% url 'host_list' %}" class="btn btn-link">Cancel</a>
                    <button type="submit" class="btn btn-primary ms-auto">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function rescanHost() {
        /**
         * Trigger a rescan of the Proxmox infrastructure by sending a POST request to the API.
         * Uses prependLog() to display errors on API failure, HTTP errors, network errors, and timeouts.
         */
         event.preventDefault();  // Prevent standard submit
        url = "/api/host/rescan/";
        fetch(url, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json"
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    // Just wait for websocket event
                } else {
                    // API returned error status, show message using prependLog
                    prependLog(40, `API error: ${data.message || "Unknown error"}`);
                }
            })
            .catch(error => {
                // Catch network errors, timeouts, and other exceptions, then prepend log
                prependLog(30, `Failed request to ${url}: ${error.message}`);
            });
    }
</script>
{% endblock page_body %}
