{% extends "unetlab/base.html" %}
{% load render_table from django_tables2 %}
{% block title %}UNetLab | {{ table.attrs.title }} > List{% endblock title %}
{% block page_title %}{{ table.attrs.title }} > List{% endblock page_title %}
{% block page_body %}
<div class="col-lg-9">
    {% render_table table %}
</div>
<div class="col-lg-3">
    <div class="card">
        <form method="get" class="card">
            <div class="card-header">
                <h3 class="card-title">Filters</h3>
            </div>
            <div class="card-body">
                <div class="space-y">
                    <div>
                        <label for="{{ filter.form.status.id_for_label }}" class="form-label">
                            {{ filter.form.status.label }}
                        </label>
                        {{ filter.form.status }}
                    </div>
                    <div>
                        <label for="{{ filter.form.username.id_for_label }}" class="form-label">
                            {{ filter.form.username.label }}
                        </label>
                        {{ filter.form.username }}
                    </div>
                    <div>
                        <label for="{{ filter.form.created_at.id_for_label }}" class="form-label">
                            {{ filter.form.created_at.label }}
                        </label>
                        {{ filter.form.created_at }}
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <div class="d-flex">
                    <a href="{% url 'host_list' %}" class="btn btn-link">Cancel</a>
                    <button type="submit" class="btn btn-primary ms-auto">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock page_body %}
